
 <% @products.each do |product| %> 
  <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag("#{product.image}", alt: "#{product.product_name_ja}"), product_path(product.id) %>
      <div class="caption">
        <h3><%= link_to "#{product.product_name_ja}", product_path(product.id) %></h3>
        <p><%= product.text %></p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
<% end %>