
<h2>商品名</h2>
  <h3>メーカー</h3>
  <p>画像</p>
<br>
<br>
  <p>---説明---</p>
<br>
<br>
<br>
<br>
 <p>---お気に入り---口コミするボタン</p>
<br>
<br>
<p>---口コミ1---</p>
<br>
<br>
<p>---口コミ2---</p>
<br>
<br>
<p>---口コミ3---</p>
